@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
$tamnoSiva: #262626;
$svetloSiva: #969696;
$siva: #424242;
$zuta: #fac864;
$crna: #000;
$crvena :#ff4a4a;
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
	
}
p,a,li,input,textarea{
	font-size: 14px; 
}
p, a, h1, h2, h3, h4, h5, h6, li, input,textarea{
	font-family: 'Lato', sans-serif;
	color: lightgrey;
}
h1, h2, h3, h4, h5, h6{
	letter-spacing: 1px;
	font-weight: 1;
}
h1{
	font-size: 25px;
	letter-spacing: 5px;
}
select,input,option,textarea{
	outline: none;
}
select{
	width: 180px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid lightgrey;
	color: $svetloSiva;
	line-height: 10px;
	letter-spacing: 1px;
	option{
		height: 60px;
	}
}
textarea{
	height: 120px;
	width: 300px;
	resize: none;
	padding: 5px;
}
input{
	width: 65%;
	height: 30px;
	padding: 5px;
	margin: 10px;
	border: none;
	border-bottom: 2px solid black;
	background-color: transparent;
	color: $siva;
	line-height: 10px;
	letter-spacing: 1px;
	&::placeholder{
		color: $siva;
	}
}
input[type=submit]{
	width: 100px;
	margin-top: 15px;
	color: white;
	font-size: 12px;
	background-color: $siva;
	border: none;
	border-radius: 5px;
	&:hover{
		cursor: pointer;
		color: lightgrey;
		transition: color 0.3s;
	}
}
hr{
	width: 100%;
	height: 1px;
	background-color: lightgrey;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 30px 0.5px rgba(255,255,255,0.9);
	margin: 15px 0px;
}
@mixin flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}
.dispFlexColumn{
	display: flex;
	flex-direction: column;
}
.errorsBlock{
	@include flexCenter;
	flex-direction: column;
}
.error{
	width: 100% !important;
	p{
		color: $crvena !important;
		font-size: 13px;
	}
}
#loginHere{
	font-size: 12px;
	background-color: $siva;
	border: none;
	border-radius: 5px;
	padding: 15px;
	&:hover{
		cursor: pointer;
		color: lightgrey;
		transition: color 0.3s;
	}
	a{
		color: white;
		font-style: italic;
		&:hover{
			color: lightgrey;
		}
	}
}
body{
	background-color: $crna;
}
#background{
	clip-path: polygon(61% 0, 93% 0, 100% 69%, 100% 100%, 0 100%, 0 14%, 44% 0);
	position: fixed;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 15px 15px 0px 15px;
	background-color: $tamnoSiva;
}
.wrapper{
	width: 95%;
	margin: 0px auto;
	@include flexCenter;
	flex-direction: column;
	position: relative;
	top: 0px;
	bottom: 0px;
}
#menu{
	width: 15%;
	height: 100vh;	
	padding: 5px 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 998;
	#logo{
		padding: 30px;
	}
	#header, #footer{
		margin-top: 20px;
		padding-left: 20px;
		padding-bottom: 20px;
		ul{
			display: none;
			position: absolute;
			background-color: $siva;
			left: 0px;
		}
		li{
			padding: 14px;
			text-transform: capitalize;
			a:hover{
				color: lightgrey;
			}
		}
		.recursiveMenu{
			position: relative;
			i{
				font-size: 8px;
			}
		}
	}
}
.main{
	width: 85%;
	margin: 80px 0px 50px 15%;
}
#mainTitle{
	width: 100%;
	margin: 70px 0px;
	text-align: center;
}
.mainBlock{
	#video{
		width: 100%;
		margin-bottom: 40px;
		video{
			width: inherit;
			clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
		}
	}
	h1{
		letter-spacing: 1px;
		span{
			font-size: 29px;
		}
	}
}

.twoBlockHolder{
	width: 100%;
	@include flexCenter;
	flex-wrap: wrap;
	.twoBlockChild{
		width: 48%;
		margin: 15px 0px;
		a{
			width: 284px;
			@include flexCenter;
			flex-direction: column;
			#title{
				width: inherit;
				h2, p{
					font-size: 17px;
					text-align: left;
					padding: 5px;
				}
			}
		}
		img{
			height: 400px;
		}
	}
}
.threeBlockHolder{
	width: 100%;
	@include flexCenter;
	margin: 30px 0px;
	h1{
		font-size: 20px;
	}
	.threeBlockChild{
		width: 33%;
		margin: 10px 0px;
		@include flexCenter;
		a{
			width: 203px;
			@include flexCenter;
			flex-direction: column;
			#title{
				margin-top: 8px;
				width: inherit;
				h2, p{
					text-align: center;
				}
			}
		}
		img{
			height: 290px;
		}
	}
}

.pagination{
	position: fixed;
	right: 20px;
	top: 48vh;
	@include flexCenter;
	flex-direction: column;
	a{
		margin: 5px;
		font-size: 21px;
	}
}
.sort{
	margin: 30px 0px;
	select{
		margin: 0px 10px;
	}
}

.formBlock{
	@include flexCenter;
	flex-direction: column;
	height: 100vh;
	margin-top: 0px;
	#formSuccess{
		margin-bottom: 30px;
		p{
			font-size:15px;
			color:white;
			letter-spacing: 2px;
		}
	}
	form{
		width: 450px;
		min-height: 40vh;
		@include flexCenter;
		flex-direction: column;
		background-color: $siva;
		h4{
			color: lightgrey;
		}
		div{
			width: 100%;
			@include flexCenter;
			padding: 7px;
			label{
				width: 26%;
				padding: 5px;
				margin: 10px;
			}
			input{
				width: 65%;
				height: 30px;
				padding: 5px;
				margin: 10px;
				border: none;
				border-bottom: 2px solid $zuta;
				background-color: transparent;
				color: $svetloSiva;
				line-height: 10px;
				letter-spacing: 1px;
				&::placeholder{
					color: $svetloSiva;
				}
			}
		}
		input[type=submit]{
			width: 100px;
			margin-top: 15px;
			color: white;
			font-size: 12px;
			background-color: $tamnoSiva;
			border: none;
			border-radius: 5px;
			&:hover{
				cursor: pointer;
				color: lightgrey;
				transition: color 0.3s;
			}
		}
		div:last-child, div:first-child{
			width: 100%;
		}
	}
	.redirectSignInRegister{
		width: 100%;
		a{
			color: lightgrey;
		}
	}
}
#infoBlock{
	visibility: hidden;
	width: 48%;
	height: 0%;
	position: absolute;	
	visibility: hidden;

	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.8);
	z-index: 999;
	@include flexCenter;
	hr{
		border: 0.5px lightgrey solid;
		border-radius: 5px;
	}

	.infoProgram{
		width: 80%;
		height: 550px;
		display: flex;
		justify-content: space-between;
		position: relative;
		background-color: white;

		#infoClose{
			top: 30px;
			left: 30px;
			z-index: 999;
			&:hover{
				cursor: pointer;
			}
			span{
				background-color: black;
			}
		}
		#infoDesc{
			width: 70%;
			height: 100%;
			padding-left: 8%;
			h2,p{
				color: $siva;
			}
			h2{
				padding: 50px 0 20px 0;
			}
		}
		#infoPhoto{
			width: 30%;
			display: flex;
			justify-content: flex-end;
			img{
				width: 250px;
				height: 346px;
			}	
		}
	}
}
.close{
	width: 32px;
	height: 27px;
	@include flexCenter;
	position: absolute;
	top: 40px;
	right: 40px;
	span{
				display: block;
				width: 2px;
				background-color: lightgrey;
	}
	span:nth-child(1){
				transform: rotate(-43deg);
				height: 27px;
	}
	span:nth-child(2){
				transform: rotate(43deg);
				height: 23px;
	}
	&:hover{
		cursor: pointer;
	}
}

#program{
	border-radius: 2px;	
	#infoProgram{
		width: 100%;
		background-color: transparent;
		@include flexCenter;
		flex-direction: column;
		padding: 50px 0px;
		#ticketPrice{
			color: $siva;
			font-size: 16px;
		}
		#title{
			@include flexCenter;
			flex-direction: column;
			margin: 15px;
			h1{
				font-size: 30px;
			}
			p{
				padding: 7px;
				font-size: 17px;
			}
		}
		.childInfo{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 20px;
			h2{
				text-align: center;
				span{
					text-transform: uppercase;
					letter-spacing: 4px;
				}
			}
			img{
				margin: 20px;
			}
		}
		#artistPhoto{
			width: 350px;
			height: 350px;
			position: relative;
			@include flexCenter;
		}
		#orderTicket{
			color: white;
			background-color: $zuta;
			padding: 10px;
			border-radius: 5px;
			&:hover{
				color: $tamnoSiva;
				cursor: pointer;
				transition: 0.2s color;
			}
		}
	}
}

#controlPanel{
	@include flexCenter;
	flex-direction: column;
	h1{
		font-size: 25px;
		letter-spacing: 5px;
	}
	.cpBlock{
		width: 100%;
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 40px;
		
		h3{
			width: 30%;
			color: white;
			height: inherit;
			@include flexCenter;
			background-color: $svetloSiva;
			margin: 0px 3px;
			&:hover{
				cursor: pointer;
				background-color: $zuta;
				color: white;
				transition: 0.2s color, 0.2s background-color;
			}
		}
	}
}
.editForm{
			width: 48%;
			height: 0%;
			@include flexCenter;
			flex-direction: column;
			visibility: hidden;
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 999;
			background-color: rgba(0,0,0,0.9);
			h3{
				cursor: auto;
				color: white;
			}
			p{
				color: $svetloSiva;
			}
			form{
				width: 450px;
				min-height: 40vh;
				@include flexCenter;
				flex-direction: column;
				background-color: white;
				h4{
					color: black;
				}
				div{
					width: 100%;
					@include flexCenter;
					padding: 4px;
					label{
						width: 26%;
						padding: 5px;
						margin: 10px;
					}
					
				}
				div:last-child, div:first-child{
					width: 100%;
				}
			}
}

#stages{
	@include flexCenter;
	flex-direction: column;
	#bgStage{
		width: 100%;
		height: 400px;
		background-attachment: fixed;
		background-image: url('../img/stage/cover.jpg');
		background-position: top;
	}
	h1{
		padding: 8px;
		margin-bottom: 10px;
	}
	.stageChild{
		width: 600px;
		height: 401px;
		position: relative;
		#darkOver{
			width: inherit;
			height: inherit;
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 980;
			background-color: rgba(0,0,0,0.8);
			&:hover{
				background-color: rgba(0,0,0,0.2);
				transition: 0.2s background-color;
			}
		}
		h2{
			text-transform: uppercase;
			position: absolute;
			top: 43%;
			left: 42%;
			font-size: 27px;	
			z-index: 982;
			letter-spacing: 7px;	
		}
		img{
			width: inherit;
			position: relative;
		}
	}
	#stageInfo{
		width: 100%;
		background-color: transparent;
		@include flexCenter;
		flex-direction: column;
		padding: 50px 0px;
		#desc{
			width: 65%;
			p{
				padding: 30px;
				letter-spacing: 1px;
				line-height: 20px;
			}
		}
		#magnifiedPhoto{
			width: 48%;
			height: 0%;
			@include flexCenter;
			flex-direction: column;
			visibility: hidden;
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 999;
			background-color: rgba(0,0,0,0.9);
			img{
				width: 800px;
			}

		}
		.coverStagePhoto{
			@include flexCenter;
			img{
				width: 650px;
				height: 434px;
				margin: 20px 0px;
			}
		}
		.photosStage{
			@include flexCenter;
			img{
				width: 47%;
				margin: 20px 0px;
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
}
#news{
	background-color: white;
	border-radius: 1px;
	.threeBlockChild{
		width: 282px;
		a{
			padding: 8px;
			width: 100%;
		}
	}
	img{
		width: 200px;
		height: 113px;
		border-radius: 2px;
	}
	p{
		font-size: 13px;
		color: #807e7e;
	}
	h2{
		color: $siva;
		margin: 10px;
		text-align: center;
	}
	#social{
		width: 100%;
		ul,div{
			@include flexCenter;
			margin: 15px;
			padding: 5px;
		}
		li{
			padding: 9px;
			a{
				color: $siva;
			}
		}
	}
}
#contactBlock{
	min-height: 100vh;
	margin-top: 0px;
	textarea{
		background-color: $tamnoSiva;
	}
}
#author{
	width: 70%;
	padding: 50px;
	.wrapper{
		@include flexCenter;
		flex-direction: column;
		img{
			margin: 30px;
		}
		#authorDescription{
			a{
				color: white;
			}
		}
	}
}
.dl{
	&:hover{
		cursor: pointer;
		color: $zuta;
	}
}
#about{
	@include flexCenter;
	flex-direction: column;
	img{
		width: 350px;
		height: 350px;
		margin: 0px 5px 40px 5px;
	}
	p{
		padding: 40px 20px;
	}
}



/**********************************/
@media only screen and (max-width: 950px){
	body .threeBlockHolder .threeBlockChild img{
		height: 220px;
	}
	body #news .threeBlockHolder{
		flex-direction: column;
		img{
			width: 250px;
			height: 141px;
		}
	}
}

@media only screen and (max-width: 900px){
	body  .main{
		width: 75%;
	}
}

